* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.tudo{
    display: flex;
    gap: 25px;
    text-decoration: none;
}
.audios{
    display:grid;
    gap: 25px;
    width: 200px;
}
.list{
    text-decoration: none;
}
button:focus {
    font-weight: bold;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:focus:before {
    content:"\A";
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #df1b1b transparent transparent;
    position: absolute;
    left: 30px;
    transform: scaleX(-1);  
}

ui > li{
    width: 100%;
    text-decoration: none;
}

button{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    max-height: 100vh;
    background: linear-gradient( rgb(186, 51, 13) 50%, rgb(168, 88, 22) 100%);
}

main {
    position: relative;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main img {
    position: absolute;
}

main #vitrola {
    width: 600px;
    left: 25%;
}

main #disco {
    width: 360px;
    top: 130px;
    left: 350px;
}

main #braco-vitrola {
    width: 320px;
    left: 112px;
    top: 128px;
    cursor: pointer;
}

.animate-spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.animate-braco-tocar {
    -webkit-animation: braco-tocar 2s forwards;
    animation: braco-tocar 2s forwards;
    -webkit-animation: braco-tocar 1s forwards;
    animation: braco-tocar 1s forwards;
    animation-iteration-count: initial;
    animation-timing-function: linear;

}

.animate-braco-parar {
    -webkit-animation: braco-parar 2s forwards;
    animation: braco-parar 2s forwards;
    -webkit-animation: braco-parar 1s forwards;
    animation: braco-parar 1s forwards;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes braco-tocar {
    0% {
        transform: translateX(0) translateY(0) rotate(0);
    }
    100% {
        transform: translateX(4rem)  translateY(-2rem) rotate(-40deg);
    }
}

@keyframes braco-parar {
    0% {
        transform: translateX(4rem) translateY(-2rem) rotate(-40deg);
    }
    100% {
        transform: translateX(0)  translateY(0) rotate(0);
    }
}