* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    
}

aside {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
    width: 50%;
    display: grid;
    gap: 20px;
}


button{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background: linear-gradient( rgb(38, 3, 48) 50%, rgb(2, 8, 24) 100%);
}

main {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section {
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section > section {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

main #vitrola {
    width: 600px;
}

main #disco {
    width: 360px;
    z-index: 0;
}

main #braco-vitrola {
    cursor: pointer;
    z-index: 1;
}

.animate-spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.animate-braco-tocar {
    -webkit-animation: braco-tocar 2s forwards;
    animation: braco-tocar 2s forwards;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}

.animate-braco-parar {
    -webkit-animation: braco-parar 2s forwards;
    animation: braco-parar 2s forwards;
    animation-iteration-count: initial;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes braco-tocar {
    0% {
        transform: translateX(0) translateY(0) rotate(0);
    }
    100% {
        transform: translateX(4rem)  translateY(-2rem) rotate(-40deg);
    }
}

@keyframes braco-parar {
    0% {
        transform: translateX(4rem) translateY(-2rem) rotate(-40deg);
    }
    100% {
        transform: translateX(0)  translateY(0) rotate(0);
    }
}